<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="ダイナマイト野球のオリジナルチームをウェブサイト上で簡単に作成できます。選手の名前から投打、パラメータや守備位置、選手登録なども詳細に設定することができます。自分の好みの選手を作成してチームを作成しよう！">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@miike_7">
    <meta property="og:url" content="https://miike-7.github.io/dytm/">
    <meta property="og:title" content="ダイナマイト野球チームメーカー">
    <meta property="og:description" content="ダイナマイト野球のオリジナルチームをウェブサイト上で簡単に作成できます。">
    <meta property="og:image" content="https://miike-7.github.io/dytm/img/img_374.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="google-site-verification" content="1CD99Nlj9uDsqqUgYS_-kanjZV8IPRfrbfLDizfrJrM" />
    <title>ダイナマイト野球チームメーカー</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style>
    noscript {
      position: fixed;
      z-index: 9999;
      width: 100%;
      height: 100%;
      background: #f0f0f0;
      text-align: center;
    }
    </style>
    <script type="text/javascript">
    const u = window.navigator.userAgent.toLowerCase();
    if(u.indexOf('msie') != -1 || u.indexOf('trident') != -1 || u.indexOf('iphone') != -1 || u.indexOf('ipad') != -1 || u.indexOf('android') != -1){
      window.location.href = "https://miike7.hateblo.jp/entry/2021/07/31/220915";
    }
    </script>
  </head>
  <body>

    <noscript>
      <p>javascriptが無効です。<br>各ブラウザの設定より有効にして下さい。</p>
    </noscript>
    
    <header class="container-fluid bg-dark text-white">
      <div class="row justify-content-around text-center header-content">
        <div class="col-4">
          <h1 class="fs-5 m-0">チームメーカー</h1>
        </div>
        <div class="col-4">
          <a href="https://miike7.hateblo.jp/entry/2021/07/31/220915" target="_blank">使い方</a>
        </div>
      </div>
    </header>

    <main id="main" role="main">

      <div class="modal fade" id="listModal" tabindex="-1" aria-labelledby="listModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="listModalLabel">一括入力</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid text-center">

              <div class="row row-cols-4">
                <div v-for="(i, ii) in pl.length" class="col p-1 border-bottom hover-skyblue"
                :class="teamActive === ii && 'bg-secondary text-white'" @click="teamActive = ii">
                  {{ pl[ii].tn }}
                </div>
              </div>

              <div class="row bg-secondary text-white mt-2">
                <div class="col">選手名</div>
                <div class="col">打撃</div>
                <div class="col">守備</div>
                <div class="col">投手</div>
              </div>

              <div v-for="(r, ri) in pl[teamActive].pd" class="row p-1 hover-skyblue" @click="auto_input(ri)" data-bs-dismiss="modal">
                <div class="col text-start">{{ pl[teamActive].pd[ri].substr(17) }}</div>
                <div class="col">{{ pl[teamActive].pd[ri].substr(0, 4) }}</div>
                <div class="col">{{ pl[teamActive].pd[ri].substr(4, 4) }}</div>
                <div class="col">{{ pl[teamActive].pd[ri].substr(8, 6) }}</div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="tableModalLabel">打順変更/削除</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container-fluid">

              <p>対象の選手をクリックし、次に入れ替え先の選手をクリックすると打順の変更ができます。<br>選手をテーブルから削除する場合は右のアイコンをクリックして下さい。</p>
              <table class="table table-sm table-hover align-middle text-center user-select-none">
                <thead>
                  <tr class="table-light">
                    <th colspan="2">投打</th>
                    <th>選手名</th>
                    <th>打撃</th>
                    <th>守備</th>
                    <th>投手</th>
                    <th>削除</th>
                  </tr>
                </thead>
                <tr v-for="(r, ri) in pd" :key="r.id" :class="ri === oc[0] && 'table-active'" @click="orderChange(ri)">
                  <td>{{ ri < 9 ? ri+1 : '' }}</td>
                  <td>{{ items.piba[ pd[ri][14] ] }}</td>
                  <td class="text-start">{{ pd[ri].substring(17) }}</td>
                  <td>{{ pd[ri].substring(0, 4) }}</td>
                  <td>{{ pd[ri].substring(4, 8) }}</td>
                  <td>{{ pd[ri].substring(8, 14) }}</td>
                  <td @click.stop="">
                    <button type="button" class="btn btn-sm btn-danger" @click="remove(ri)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            </div>
          </div>
        </div>
      </div>

      <div class="table-operate p-1 bg-white border rounded user-select-none">
        <button type="button" class="btn btn-sm btn-outline-dark" @click="addPlayer()">選手追加</button>
        <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#tableModal">打順変更/削除</button>
        <button type="button" id="btn_tn" class="btn btn-sm btn-outline-dark">チーム名</button>
        <button type="button" id="btn_download" class="btn btn-sm btn-info">ダウンロード</button>
        <button type="button" id="btn_reset" class="btn btn-sm btn-warning">リセット</button>
      </div>

      <div class="table-frame">
        <table id="main_table" class="main-table" v-cloak>
          <caption v-text="tn"></caption>
          <tr>
            <th v-for="(i, ii) in items.th">{{ items.th[ii] }}</th>
          </tr>
          <tr v-for="(r, ri) in pd" :key="r.id">
            <td>{{ (ri < 9) ? ri+1 : '' }}</td>
            <td>{{ items.piba[ pd[ri][14] ] }}</td>
            <td :class="tableClass('short', ri)">{{ pd[ri].substring(17, 25) }}</td>
            <td :class="tableClass('pos', ri)">{{ items.po[po[ri]] }}</td>
            <td v-for="(i, ii) in 14" :key="i.id" :class="tableClass('prm', ri, ii)">{{ pd[ri][ii] == 0 ? 10 : pd[ri][ii] }}</td>
          </tr>
        </table>
      </div>

      <div class="p-2 bg-light border rounded">

        <div class="container-fluid">
          <div class="row">
            <div class="col-3">
              <select class="form-select form-select-sm" v-model.number="sp" v-cloak>
                <option value="-1" disabled>選手選択</option>
                <optgroup label="スタメン">
                  <option v-for="(i, ii) in 9" :value="ii">{{ i }}：{{ pd[ii].substring(17) }}</option>
                </optgroup>
                <optgroup label="控え">
                  <option v-for="(i, ii) in (pd.length-9)" :value="ii+9">{{ pd[ii+9].substring(17) }}</option>
                </optgroup>
              </select>
            </div>
            <div class="col">
              <fieldset :disabled="_disabled('-1')">
                <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#listModal">一括入力</button>
              </fieldset>
            </div>
          </div>
        </div>

        <fieldset class="container-fluid" :disabled="_disabled('-1')">

          <hr>

          <div class="row mb-2">

            <div class="col input-group">
              <span class="input-group-text">投打</span>
              <select class="form-select" v-model="v_pb">
                <option :value="-1" disabled>投打</option>
                  <optgroup label="右投げ">
                    <option value="0">右打</option>
                    <option value="1">左打</option>
                    <option value="2">両打</option>
                  </optgroup>
                  <optgroup label="左投げ">
                    <option value="3">右打</option>
                    <option value="4">左打</option>
                    <option value="5">両打</option>
                  </optgroup>
              </select>
            </div>

            <div class="col input-group">
              <span class="input-group-text">選手名</span>
              <input type="text" class="form-control" v-model.lazy="v_name">
            </div>

            <div class="col input-group">
              <span class="input-group-text">登録</span>
              <select class="form-select" v-model="v_rl">
                <option :value="-1" disabled>登録</option>
                <option value="0">野手</option>
                <option value="1">投手</option>
              </select>
            </div>

          </div>

          <div class="row">
            <div class="col input-group">
              <span class="input-group-text">打撃</span>
              <input type="number" class="form-control" v-model.lazy="v_ba" min="1111" max="9999" step="1111">
            </div>

            <div class="col input-group">
              <span class="input-group-text">守備</span>
              <input type="number" class="form-control" v-model.lazy="v_de" min="1111" max="9999" step="1111">
            </div>

            <div class="col input-group">
              <span class="input-group-text">投手</span>
              <input type="number" class="form-control" v-model.lazy="v_pi" min="111111" max="999999" step="111111">
            </div>
          </div>
          <p style="font-size: 14px;">-野手能力は4桁、投手能力は6桁で入力して下さい。10は0で入力できます。</p>

          <fieldset :disabled="_disabled('pos')">
            <div class="input-group user-select-none">
              <span class="input-group-text">守備位置</span>
              <ul class="list-group list-group-horizontal text-center" v-cloak>
                <li class="list-group-item list-group-item-action m-cursor-pointer" v-for="(i, ii) in 9" :class="po[sp] == ii+1 ? 'active' : ''" @click="playerOperate('pos', ii)">{{ items.po[ii+1] }}</li>
              </ul>
            </div>
          </fieldset>

        </fieldset>

      </div>

    </main>
    
    <footer class="bg-dark text-white text-center">&copy 2021 @miike_7</footer>
    
    <script type="text/javascript" src="js/html2canvas.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
