@charset "UTF-8";

.bg-team-other {background: #f3f3ee!important; color: #000000!important;}
.bg-team-e {background: #856996!important; color: #ffffff!important;}
.bg-team-f {background: #498351!important; color: #ffffff!important;}
.bg-team-m {background: #d95e2e!important; color: #ffffff!important;}
.bg-team-d {background: #b4252d!important; color: #ffffff!important;}
.bg-team-s {background: #1a75bb!important; color: #ffffff!important;}
.bg-team-l {background: #368582!important; color: #ffffff!important;}
.bg-team-t {background: #9f854a!important; color: #ffffff!important;}
.bg-team-c {background: #313131!important; color: #ffffff!important;}
.bg-team-h {background: #fff79c!important; color: #000000!important;}
.bg-team-tokyoA {background: #505050!important; color: #ff6501!important;}
.bg-team-hyogo {background: #939393!important; color: #fff400!important;}
.bg-team-nagoya {background: #0C3282!important; color: #ffffff!important;}
.bg-team-yokohama {background: #0091c3!important; color: #ffffff!important;}
.bg-team-hiroshima {background: #fb3242!important; color: #ffffff!important;}
.bg-team-tokyoB {background: #131773!important; color: #f75f5c!important;}
.bg-team-osaka {background: #0091c3!important; color: #eacd00!important;}
.bg-team-fukuoka {background: #8f8f8f!important; color: #fff900!important;}
.bg-team-hokkaido {background: #00b8d8!important; color: #fdedba!important;}
.bg-team-hokkaido-2013 {background: #e60122!important; color: #ffffff!important;}
.bg-team-hokkaido-2014 {background: #015190!important; color: #ffffff!important;}
.bg-team-hokkaido-2015 {background: #a5a0c8!important; color: #ffffff!important;}
.bg-team-hokkaido-2016 {background: #009977!important; color: #ffffff!important;}
.bg-team-hokkaido-2017 {background: #ffea38!important; color: #33B2E6!important;}
.bg-team-hokkaido-2018 {background: #0f5be2!important; color: #ffffff!important;}
.bg-team-hokkaido-2019 {background: #10BB8F!important; color: #ffffff!important;}
.bg-team-hokkaido-2020 {background: #C8B78C!important; color: #ffffff!important;}
.bg-team-hokkaido-2021 {background: #161F3E!important; color: #ffffff!important;}
.bg-team-hokkaido-2022 {background: #005A99!important; color: #ffffff!important;}
.bg-team-chiba {background: #8f8f8f!important; color: #ffffff!important;}
.bg-team-saitama {background: #00b8e0!important; color: #ffffff!important;}
.bg-team-tohoku {background: #e10091!important; color: #e1deaf!important;}
.bg-team-japan {background: #00275E!important; color: #fff!important;}
.bg-team-osaka-2004 {background: #cc0000!important; color: #fff!important;}
.bg-team-central-league {background: #0f8f2e!important; color: #fff!important;}
.bg-team-pacific-league {background: #3FB1E5!important; color: #fff!important;}

.bg-starting {background: #4988D6!important;}
.bg-reserve {background: #5eb629!important;}
.bg-starting, .bg-reserve {color: #ffffff!important;}

.bg-role-fp {background: #fff!important; color: #000!important;}
.bg-role-pi {background: #ffc1c1!important; color: #000!important;}

.bg-handed-r {background: #fff!important; color: #000!important;}
.bg-handed-rl {background: #7fbfff!important; color: #000!important;}
.bg-handed-rs {background: #7fffbf!important; color: #000!important;}
.bg-handed-lr {background: #fff!important; color: #000!important;}
.bg-handed-l {background: #7fbfff!important; color: #000!important;}
.bg-handed-ls {background: #7fffbf!important; color: #000!important;}

.bg-position-dh {background: #7fff7f!important;}
.bg-position-dh::after {content: 'DH';}
.bg-position-p {background: #ff7f7f!important;}
.bg-position-p::after {content: 'Ｐ';}
.bg-position-c {background: #ffbf7f!important;}
.bg-position-c::after {content: '捕';}

.bg-position-1b, .bg-position-2b, .bg-position-3b, .bg-position-ss {background: #ffff7f!important;}
.bg-position-1b::after {content: '一';}
.bg-position-2b::after {content: '二';}
.bg-position-3b::after {content: '三';}
.bg-position-ss::after {content: '遊';}
.bg-position-lf, .bg-position-cf, .bg-position-rf {background: #7fffff!important;}
.bg-position-lf::after {content: '左';}
.bg-position-cf::after {content: '中';}
.bg-position-rf::after {content: '右';}
.bg-position-other {background: azure!important;}

.bg-param-ten {background: #fd2323!important;}
.bg-param-nine {background: #fe5959!important;}
.bg-param-eight {background: #ffa500!important;}
.bg-param-seven {background: #ffff00!important;}
.bg-param-six {background: #90ee90!important;}
.bg-param-five {background: #8ad0f9!important;}
.bg-param-four {background: #c0c0c0!important;}
.bg-param-tree {background: #d3d3d3!important;}
.bg-param-two {background: #dcdcdc!important;}
.bg-param-one {background: azure!important;}

.param-pos-highlight, .param-pos-highlight-exclamation {position: relative;}

.param-pos-highlight::after, .param-pos-highlight-exclamation::after {
  position: absolute;
  content: '';
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.param-pos-highlight::after {
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-star-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z'/%3E%3C/svg%3E");
}

.param-pos-highlight-exclamation::after {
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-exclamation-lg' viewBox='0 0 16 16'%3E%3Cpath d='M7.005 3.1a1 1 0 1 1 1.99 0l-.388 6.35a.61.61 0 0 1-1.214 0L7.005 3.1ZM7 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z'/%3E%3C/svg%3E");
}
