@charset "UTF-8";

[v-cloak] {display: none;}

* {
  padding: 0;
  margin: 0;
}

.btn:focus{box-shadow: none;}
.form-control:disabled, .form-control[readonly], fieldset:disabled .input-group-text {opacity: 0.5;}

footer {
  padding: 0.1em;
  position: fixed;
  right: 0;
  bottom: 0;
  border-top-left-radius: 3px;
  background-color: #212529!important;
  color: #fff;
}

.w-720 {
  max-width: 720px;
  width: 100%;
  margin: auto;
}

.main {
  width: 99%;
  padding: 0.5em 0;
}

.table-container {
  margin: 0.25em auto 1em;
  overflow: auto;
}

.main-table {
  width: 720px;
  margin: auto;
  border-collapse: collapse;
  background: #d9d9d9;
  color: #000;
  text-align: center;
  user-select: none;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  caption-side: top;
}

.main-table caption {
  padding: 0.1em 0;
  background: #a4a4a4;
  text-align: center;
  color: #ffffff;
}

.main-table tr:nth-child(n+3) {
  border-top: 1px solid #b4b4b4;
  cursor: pointer;
}

.main-table .passive:hover td {
  box-shadow: 0px -50px 0px 0px rgba(0, 128, 0, 0.4) inset;
}

.main-table .active td {
  box-shadow: 0px -50px 0px 0px rgba(255, 0, 0, 0.4) inset;
}

.main-table .p-passive:hover {
  background: green;
}

.main-table .p-active {
  background: red;
}

.main-table th:nth-child(4), .main-table th:nth-child(8), .main-table th:nth-child(12),
.main-table td:nth-child(4), .main-table td:nth-child(8), .main-table td:nth-child(12)
{border-right: 1px solid #595959;}

.main-table th {
  background: #444444;
  color: #fff;
  font-size: 14px;
}

.main-table th:nth-child(n+5):nth-child(-n+8){background: #009fe2;}
.main-table th:nth-child(n+9):nth-child(-n+12){background: #66c52c;}
.main-table th:nth-child(n+13):nth-child(-n+19){background: #009b9c;}

.main-table th:nth-child(1){width: 20px;}
.main-table th:nth-child(2){width: 55px;}
.main-table th:nth-child(3){width: 120px;}
.main-table th:nth-child(n+4){width: 35px;}

.main-table td:nth-child(3){
  text-align: left;
  white-space: nowrap;
  vertical-align: bottom;
}

.bo-background-main, .bo-background-sub {
  color: #fff;
  font-family: Verdana;
}

.bo-background-main {background: #b67729;}
.bo-background-sub {background: #5eb629;}

.short {letter-spacing: -2px;}
.badge-piba, .badge-pos, .badge-role {
  display: inline-block;
  padding: 0.3em;
  border-radius: 0.25rem;
  border: 1px solid;
  font-size: .80em;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
  color: #fff;
}

.badge-piba {
  width: 40px;
  border-color: #850090;
  background: #9363a0;
}

.prm-ten, .prm-nine, .prm-eight, .prm-seven, .prm-six, .prm-five, .prm-other {
  color: #333;
  font-size: 17px;
  font-family: 'Roboto', sans-serif !important;
}

.prm-ten {background: #fd2323;}
.prm-nine {background: #fe5959;}
.prm-eight {background: #ffa500;}
.prm-seven {background: #ffff00;}
.prm-six {background: #90ee90;}
.prm-five {background: #8ad0f9;}
.prm-other {background: #d0becc;}
.d-app {font-weight: bold;}

.pos-dh {
  background: #00cc00;
  border-color: #22b14c;
}
.pos-p {
  background: #df5454;
  border-color: #ba0000;
}
.pos-c {
  background: #fa9140;
  border-color: #bc7d00;
}
.pos-in {
  background: #f8d200;
  border-color: #a29300;
}
.pos-out {
  background: #6acec4;
  border-color: #008c8c;
}

.role-pi {
  background: #aa0000;
  border-color: #9b9b9b;
}

.role-fp {
  background: #277e00;
  border-color: #9b9b9b;
}
