@charset "UTF-8";

[v-cloak] {display: none;}

/* anti bs style */
.btn:focus, .form-select:focus, .form-control:focus {box-shadow: none;}

caption {
  padding: 0.25rem!important;
  text-align: center;
  font-weight: bold;
  caption-side: top;
  background: #f3f3ee!important; color: #000000!important;
}

.table-active {
  --bs-table-accent-bg: rgba(0, 0, 0, 0.09);
  font-weight: bold;
}
.table-active:hover {
  --bs-table-accent-bg: rgba(0, 0, 0, 0.2)!important;
}
/* anti bs style end */

:root {
  --main-bg-color: #f1eca1;
}

.bg-main {
  background: var(--main-bg-color);
  color: #333;
}

.w-900 {
  max-width: 900px;
  width: 95%;
  margin: auto;
}

.w-600 {
  max-width: 600px;
  width: auto;
}

.btn-dropdown {
  width: 100%;
   padding: 0;
  background: #ffffff;
  border: 1px solid #ced4da;
  text-align: left;
  display: flex;
  align-items: baseline;
}

.btn-dropdown:hover {
  background: var(--main-bg-color);
}

.dropdown-toggle::after {display: none;}

.selected-label-title {
  padding: .375rem .75rem;
  background: #e9ecef;
  border-right: 1px solid #ced4da;
}

.selected-label {
  padding: .375rem .75rem;
  position: relative;
  width: 100%;
}

.selected-label::after {
  position: absolute;
  font-family: bootstrap-icons;
  content: "\F27E";
  right: 5%;
}

[data-modal='1'] .modal-auto-input-player {
  display: none;
}

[data-modal='0'] .modal-team-color {
  display: none;
}
/* table style */
.main-table {
  width: 850px;
  margin: auto;
  text-align: center;
  user-select: none;
  table-layout: fixed;
  counter-reset: num 0;
}

.main-table tbody tr {cursor: pointer;}

.main-table th:nth-child(4), .main-table th:nth-child(8), .main-table th:nth-child(12),
.main-table td:nth-child(4), .main-table td:nth-child(8), .main-table td:nth-child(12) {
  border-right: 1px solid #000;
}

.main-table th, .main-table td {border-right: 1px solid #dee2e6;}

.main-table th:nth-last-child(1), .main-table td:nth-last-child(1) {
  border-right: none!important;
}

.main-table td:nth-child(3) {text-align: left;}

.main-table th:nth-child(2) {width: 60px!important;}
.main-table th:nth-child(3) {width: 125px!important;}

.main-table td:nth-child(1) {
  background: #4988D6!important;
  color: #ffffff!important;
  cursor: move;
}

.main-table td:nth-child(1)::after {
  counter-increment: num 1;
  content: counter(num);
}

[data-table='0'] tr:nth-child(n+10) td:nth-child(1) {background: #5eb629!important;}
[data-table='0'] tr:nth-child(n+10) td:nth-child(1)::after {content: '控';}
[data-table='0'] tr:nth-child(9) {border-color: #212529!important;}

[data-table='1'] tr:nth-child(n+11) td:nth-child(1) {background: #5eb629!important;}
[data-table='1'] tr:nth-child(10) td:nth-child(1)::after {content: 'P';}
[data-table='1'] tr:nth-child(n+11) td:nth-child(1)::after {content: '控';}
[data-table='1'] tr:nth-child(10) {border-color: #212529!important;}

.bg-handed-r::after {content: '右';}
.bg-handed-rl::after {content: '右.左';}
.bg-handed-rs::after {content: '右.両';}
.bg-handed-lr::after {content: '左.右';}
.bg-handed-l::after {content: '左';}
.bg-handed-ls::after {content: '左.両';}
/* table style end */
