.table-frame {
  max-width: 720px;
  width: 99%;
  margin: auto;
  overflow: auto;
  background: #eeeeee;
}

.w-a {
  width: 720px;
}

.w-b {
  width: 510px;
}

.main-table {
  margin: auto;
  border-collapse: collapse;
  background: #888888;
  color: #ffffff;
  text-align: center;
  user-select: none;
  font-size: 15px;
}

.main-table caption {
  height: 23px;
  line-height: 23px;
  background: #a4a4a4;
  color: #ffffff;
}

.main-table tr:nth-child(n+2) {
  border-top: 1px solid #d4d4d4;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}

.main-table th:nth-child(8),
.main-table th:nth-child(12),
.main-table td:nth-child(n+1):nth-child(-n+4),
.main-table td:nth-child(8),
.main-table td:nth-child(12) {
  border-right: 1px solid #aaaaaa;
}

.main-table tr:nth-child(n+2) td:nth-child(n+5) {
  font-family: 'Roboto', sans-serif !important;
  font-size: 17px;
}

.main-table tr:nth-child(1) {background: #444444;}
.main-table tr:nth-child(n+2):nth-child(-n+10) td:nth-child(1) {background: #b67729;}
.main-table tr:nth-child(n+11):nth-child(-n+21) td:nth-child(1) {background: #5eb629;}
.main-table th:nth-child(n+5):nth-child(-n+8) {background: #009fe2;}
.main-table th:nth-child(n+9):nth-child(-n+12) {background: #66c52c;}
.main-table th:nth-child(n+13):nth-child(-n+19) {background: #009b9c;}
.main-table th {
  font-size: 14px;
}

.main-table th:nth-child(1) {
  width: 19px;
}

.main-table th:nth-child(2) {
  width: 55px;
  font-size: 14px;
}

.main-table th:nth-child(3) {
  width: 121px;
}

.main-table tr:nth-child(n+2) td:nth-child(3) {
  padding-left: 0.25em;
  text-align: left;
  white-space: nowrap;
}

.short {
  letter-spacing: -2px;
}

.main-table th:nth-child(n+4) {
  width: 35px;
}

/*prm color*/
.prm-active {
  background: #880032;
}
.prm-ten, .prm-nine, .prm-eight, .prm-seven, .prm-six, .prm-five, .prm-other {
  color: #000000;
}
.prm-ten {background: #fd2323;}
.prm-nine {background: #fe5959;}
.prm-eight {background: #ffa500;}
.prm-seven {background: #ffff00;}
.prm-six {background: #90ee90;}
.prm-five {background: #add8e6;}
.prm-other {background: #808080;}
.d-app {font-weight: bold;}

.pos-dh {background: #00cc00;}
.pos-p {background: #df5454;}
.pos-c {background: #fa9140;}
.pos-in {background: #f8d200;}
.pos-out {background: #6acec4;}

.main-table tr:nth-child(n+2):hover td {
  background: rgba(0, 255, 0, 0.2);
}

.main-table tr:nth-child(n+2):hover .prm-ten {
  background: rgba(253, 35, 35, 0.5);
}

.main-table tr:nth-child(n+2):hover .prm-nine {
  background: rgba(254, 89, 89, 0.5);
}

.main-table tr:nth-child(n+2):hover .prm-eight {
  background: rgba(255, 165, 0, 0.5);
}

.main-table tr:nth-child(n+2):hover .prm-seven {
  background: rgba(255, 255, 0, 0.5);
}

.main-table tr:nth-child(n+2):hover .prm-six {
  background: rgba(144, 238, 144, 0.5);
}

.main-table tr:nth-child(n+2):hover .prm-five {
  background: rgba(173, 216, 230, 0.5);
}

.main-table tr:nth-child(n+2):hover .prm-other {
  background: rgba(0, 0, 0, 0.2);
}

.main-table tr:nth-child(n+2):hover .pos-dh {
  background: rgba(0, 204, 0, 0.5);
}

.main-table tr:nth-child(n+2):hover .pos-p {
  background: rgba(223, 84, 84, 0.5);
}

.main-table tr:nth-child(n+2):hover .pos-c {
  background: rgba(250, 145, 64, 0.5);
}

.main-table tr:nth-child(n+2):hover .pos-in {
  background: rgba(248, 210, 0, 0.5);
}

.main-table tr:nth-child(n+2):hover .pos-out {
  background: rgba(106, 206, 196, 0.5);
}
